{% include "parts/head.html" %}
<body>
<div class="blur none">
{% include "parts/header.html" %}

<div class="main">
	<div class="container flex-container" style="margin-bottom: 10px;">
		<div class="content center">
			{% include "parts/hot.html" %}
		</div>
	</div>

	<div class="container flex-container">
		<div class="content center">
			<div class="[ monitoring ]">
				<div class="[ monitoring-category ] flex-container align-middle align-justify">
					<div class="flex-container align-middle">
						<p class="font mr">111</p>
						<p class="font primary mr">Basketball</p>
						<p class="font ellipsis mr">Chi Cubs - Cin Reds. MLB</p>
					</div>
					<p class="font text-nowrap">5:5 (1:0 0:2 0:0 1:0 1:2 1:1 0:0 1)</p>
				</div>
				<div class="[ monitoring-body ]">
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">1</p>
							</div>
							<div class="cell">
								<p class="font">X</p>
							</div>
							<div class="cell">
								<p class="font">2</p>
							</div>
						</div>
						<div class="row">
							<div class="cell">
								<p class="font">2.01</p>
							</div>
							<div class="cell">
								<p class="font">--</p>
							</div>
							<div class="cell">
								<p class="font">1.77</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="[ monitoring ]">
				<div class="[ monitoring-category ] flex-container align-middle align-justify">
					<div class="flex-container align-middle">
						<p class="font mr">111</p>
						<p class="font primary mr">Basketball</p>
						<p class="font ellipsis mr">PUERTO-RICO U16 - CHILI U16. U16 AMERICAN CHAMPIONSHIP</p>
					</div>
					<p class="font text-nowrap">5:5 (1:0 0:2 0:0 1:0 1:2 1:1 0:0 1)</p>
				</div>
				<div class="[ monitoring-body ]">
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">Handicap</p>
							</div>
							<div class="cell">
								<p class="font">1</p>
							</div>
							<div class="cell">
								<p class="font">Handicap</p>
							</div>
							<div class="cell">
								<p class="font">2</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell primary">
								<p class="font">+21.77</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell primary">
								<p class="font">+21.77</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell primary">
								<p class="font">+21.77</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
						</div>
					</div>
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">Total</p>
							</div>
							<div class="cell">
								<p class="font">Over</p>
							</div>
							<div class="cell">
								<p class="font">Under</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
					</div>
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">Total1</p>
							</div>
							<div class="cell">
								<p class="font">Over</p>
							</div>
							<div class="cell">
								<p class="font">Under</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
					</div>
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">Total1</p>
							</div>
							<div class="cell">
								<p class="font">Over</p>
							</div>
							<div class="cell">
								<p class="font">Under</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="[ monitoring ]">
				<div class="[ monitoring-category ] flex-container align-middle align-justify">
					<div class="flex-container align-middle">
						<p class="font mr">111</p>
						<p class="font primary mr">Basketball</p>
						<p class="font ellipsis mr">PUERTO-RICO U16 - CHILI U16. U16 AMERICAN CHAMPIONSHIP</p>
						<p class="font mr [ monitoring-part ]">Quearter: 3</p>
					</div>
					<p class="font text-nowrap">5:5 (1:0 0:2 0:0 1:0 1:2 1:1 0:0 1)</p>
				</div>
				<div class="[ monitoring-body ]">
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">1</p>
							</div>
							<div class="cell">
								<p class="font">X</p>
							</div>
							<div class="cell">
								<p class="font">2</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
					</div>
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">1X</p>
							</div>
							<div class="cell">
								<p class="font">X</p>
							</div>
							<div class="cell">
								<p class="font">2X</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
					</div>
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">Handicap</p>
							</div>
							<div class="cell">
								<p class="font">1</p>
							</div>
							<div class="cell">
								<p class="font">Handicap</p>
							</div>
							<div class="cell">
								<p class="font">2</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell primary">
								<p class="font">+21.77</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
					</div>
					<div class="table [ monitoring-table ]">
						<div class="row">
							<div class="cell">
								<p class="font">1X</p>
							</div>
							<div class="cell">
								<p class="font">X</p>
							</div>
							<div class="cell">
								<p class="font">2X</p>
							</div>
						</div>
						<div class="row">
							<div class="cell primary">
								<p class="font">-22.01</p>
							</div>
							<div class="cell">
								<p class="font">1.68</p>
							</div>
							<div class="cell">
								<p class="font">+21.77</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "parts/footer.html" %}
</div>
{% include "parts/sign-up.html" %}
{% include "parts/script.html" %}
</body>
</html>