{% include "parts/head.html" %}
<body>
<div class="blur none">
{% include "parts/header.html" %}
<div class="main">
	<div class="container flex-container" style="margin-bottom: 10px;">
		<div class="content left">
			{% include "parts/event.html" %}
		</div>
		<div class="content center">
			{% include "parts/hot.html" %}
		</div>
	</div>
	<div class="container flex-container" style="margin-bottom: 10px;">
		<div class="content left">
			{% include "side/left.html" %}
		</div>
		<div class="content center">
			<div class="[ scoreboard ]" style="background-image: url('./img/banner/big/1.png');">
				<div class="[ scoreboard-menu ]">
					<div class="flex-container align-middle">
						<p class="sports-4"></p>
						<p class="font primary ml text-transform">FOOTBALL:</p>
						<p class="font ellipsis ml">National - France</p>
					</div>
					<p class="font text-nowrap">2nd Half 68:02</p>
				</div>
				<div class="[ scoreboard-wrapper ]">
					<div class="font [ scoreboard-hide ]">Hide</div>
					<div class="[ scoreboard-count ] flex-container align-center-middle">
						<p class="font [ scoreboard-count-text small ]">FC Rouen</p>
						<p class="font bold [ scoreboard-count-text big ]">1:0</p>
						<p class="font [ scoreboard-count-text small ]">Amiens SC</p>
					</div>
					<div class="table">
						<div class="table-row title">
							<div class="table-cell"><p class="font text-left ml [ scoreboard-text primary ]">45:42</p></div>
							<div class="table-cell"><div class="[ scoreboard-icon corner ]"></div></div>
							<div class="table-cell"><div class="[ scoreboard-icon yellow-card ]"></div></div>
							<div class="table-cell"><div class="[ scoreboard-icon red-card ]"></div></div>
							<div class="table-cell"><div class="[ scoreboard-icon arrow ]"></div></div>
							<div class="table-cell"><div class="[ scoreboard-icon free-kick ]"></div></div>
							<div class="table-cell"><div class="[ scoreboard-icon goalkeeper-kick ]"></div></div>
							<div class="table-cell"><div class="[ scoreboard-icon goal ]"></div></div>
							<div class="table-cell"><div class="[ scoreboard-icon penalty ]"></div></div>
						</div>
						<div class="table-row">
							<div class="table-cell">
								<div class="flex-container align-middle">
									<p class="[ scoreboard-badge primary ]"></p>
									<p class="font text-left [ scoreboard-text primary ]">FC Rouen</p>
								</div>
							</div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">20</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text second ]">1</p></div>
						</div>
						<div class="table-row">
							<div class="table-cell">
								<div class="flex-container align-middle">
									<p class="[ scoreboard-badge second ]"></p>
									<p class="font text-left [ scoreboard-text primary ]">FC Rouen</p>
								</div>
							</div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">11</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">11</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">11</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">11</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text primary ]">1</p></div>
							<div class="table-cell"><p class="font [ scoreboard-text second ]">1</p></div>
						</div>
					</div>
				</div>
				<div class="[ scoreboard-menu ]">
					<div class="[ scoreboard-menu-wrapper-text ] flex-container align-middle align-left">
						<p class="font mr">61:13</p>
						<div class="[ scoreboard-icon corner ]"></div>
						<p class="font ellipsis ml">2nd Corner to FC Rouen</p>
					</div>
					<div class="[ scoreboard-menu-wrapper ] flex-container align-middle align-right">
						<a class="fa fa-sort [ scoreboard-menu-link ]"></a>
						<a class="fa fa-signal [ scoreboard-menu-link ]"></a>
						<a class="fa fa-angle-down [ scoreboard-menu-link ]"></a>
					</div>
					<div class="[ scoreboard-toggle block ] scroll">
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<div class="[ scoreboard-icon corner ]"></div>
							<p class="font ellipsis">Game - 1 Feliciano</p>
						</div>
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<div class="[ scoreboard-icon yellow-card ]"></div>
							<p class="font ellipsis">Game - 1 Feliciano Lopez - holds to love</p>
						</div>
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<div class="[ scoreboard-icon free-kick ]"></div>
							<p class="font ellipsis">Game - 1 Feliciano Lopez - holds to love</p>
						</div>
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<p class="font ellipsis">Game - 1 Feliciano Lopez - holds to love</p>
						</div>
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<div class="[ scoreboard-icon corner ]"></div>
							<p class="font ellipsis">Game - 1 Feliciano</p>
						</div>
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<div class="[ scoreboard-icon yellow-card ]"></div>
							<p class="font ellipsis">Game - 1 Feliciano Lopez - holds to love</p>
						</div>
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<div class="[ scoreboard-icon free-kick ]"></div>
							<p class="font ellipsis">Game - 1 Feliciano Lopez - holds to love</p>
						</div>
						<div class="[ scoreboard-toggle-item ] flex-container align-middle">
							<p class="font ellipsis">Game - 1 Feliciano Lopez - holds to love</p>
						</div>
					</div>
				</div>
			</div>
			{% include "parts/table-coeficient.html" %}
		</div>
		<div class="content right">
			{% include "side/right.html" %}
		</div>
	</div>
</div>
{% include "parts/footer.html" %}
</div>
{% include "parts/sign-up.html" %}
{% include "parts/script.html" %}
</body>
</html>