{% include "parts/head.html" %}
<body>
<div class="blur none">
{% include "parts/header.html" %}
<div class="main">
	<div class="container flex-container" style="margin-bottom: 10px;">
		<div class="content left">
			{% include "parts/event.html" %}
		</div>
		<div class="content center">
			{% include "parts/hot.html" %}
		</div>
	</div>
	<div class="container flex-container" style="margin-bottom: 10px;">
		<div class="content left">
			{% include "side/left.html" %}
		</div>
		<div class="content center">
			<div class="[ banner ] background" style="background-image: url(./img/banner/big/2.png);">
				<div class="[ banner-shadow bottom ]">
					<p class="font white">NBA playoffs 2018: Bracket picks, predictions for Eastern Conference first round</p>
				</div>
			</div>
			<div class="[ block text ]">
				<p class="font title">The backstory</p>
				<p class="font mtb">The Raptors are a team looking to exorcise their <a href="#" class="font text-underline">postseason demons</a>, and it was with that goal in mind that the team overhauled its offense and bench in the offseason, hoping that a ball-sharing system would lend itself to more playoff success. It worked, big-time, in the regular season, as Toronto set a franchise record for wins.</p>
				<p class="font mtb">But this was always about the playoffs, and if the Raptors can’t carry over this success, all these changes will have been for naught. Maybe it’s good, then, that they open with a significant challenge in the first round: playing the Wizards, a team that just got star guard John Wall back two weeks ago, and is far better than their No. 8 seeding indicates. If it is time for the Raps to banish some demons, then this is a good start. The Wizards swept Toronto out of the postseason two years ago.</p>
				<p class="font title">The key player</p>
				<p class="font mtb">Wall has 50 assists in the <a href="#" class="font text-underline">four games</a> he has played since returning from late-January knee surgery. His scoring has been inconsistent, but he has put up 28 and 29 points in his last two games, indicating he is rounding back into shape and regaining his focus.</p>
				<p class="font mtb">The Wizards played well without Wall in the first weeks of his absence, but the lack of depth and dearth of overall talent without him eventually caught up to Washington. Now, though, coach Scott Brooks must quickly get Wall integrated back into the flow of the team’s offense and defense, which has been a big part of the Wizards’ recent struggles.</p>
				<p class="font">The big number</p>
				<p class="font mtb">19.5. That’s the percentage of plays the <a href="#" class="font text-underline">Raptors</a> have run in pick-and-roll this season, and it is the sixth-most in the NBA. Yet, it represents a drastic and important reduction in the team’s reliance on the play — all the talk about Toronto revamping the offense basically comes down to cutting back on pick-and-rolls.</p>
				<p class="font mtb">Last year, the Raptors went to the PNR 24.2 percent of the time, and got 24.5 points per game from the play. The problem was, in the playoffs, teams could key on the play and force Toronto out of it. They ran PNR only 19.2 percent of the time last postseason, and the 24.5 points they got in the regular season plummeted to 16.7 points in the playoffs.</p>
				<p class="font title">The prediction</p>
				<p class="fontmtb">This will be no cakewalk for Toronto, but the team has been pointed toward the playoffs since last summer, and should be well-prepared to handle Washington. If Wall and his teammates reclaim some chemistry — though that was lacking even before the injury — there’s a chance the <a href="#" class="font text-underline">Wizards</a> could pull the upset. But the Raptors have too much depth and versatility to be too afraid of an upset.</p>
			</div>
		</div>
		<div class="content right">
			{% include "side/right.html" %}
		</div>
	</div>
</div>
{% include "parts/footer.html" %}
</div>
{% include "parts/sign-up.html" %}
{% include "parts/script.html" %}
</body>
</html>