{% include "parts/head.html" %}
<body>
<div class="blur none">
{% include "parts/header.html" %}
<div class="main">
	<div class="container flex-container" style="margin-bottom: 10px;">
		<div class="content left">
			{% include "parts/event.html" %}
		</div>
		<div class="content center">
			{% include "parts/hot.html" %}
		</div>
	</div>

	<div class="container flex-container" style="margin-bottom: 10px;">
		<div class="content left">
			{% include "side/left.html" %}
		</div>
		<div class="content center">
			
			<div class="[ banner-list ]">	
				<div class="[ banner ]">
					<img src="./img/banner/small/3.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">Real Madrid's Cristiano Ronaldo 'doesn't understand'... Juventus protests against last-gasp penalty</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">Cristiano Ronaldo insists referee Michael Oliver was right to award Real Madrid the injury-time... penalty which he dispatched... to send his side through to the Champions League semi-finals.</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/4.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">Liverpool will play in the 2018 International Champions Cup</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">The Reds will join Chelsea, Arsenal, Manchester United and Tottenham in the tournament, which features some of the biggest clubs across the world.</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/5.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">Australian Open 2018: Laura Robson... and Coco Vandeweghe lose in first round</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">Laura Robson and Coco Vandeweghe were knocked out of the Australian Open... women's doubles in the first round by Hao-Ching Chan and Katarina Srebotnik.</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/6.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">NBA playoffs 2018: Bracket picks, predictions for Eastern Conference first round</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">The Raptors are a team looking to exorcise their postseason demons, and it was with that goal in mind that the team overhauled its offense and bench in the offseason, hoping that a ball-sharing system would lend itself to more playoff success. It worked, big-time, in the regular season, as Toronto set a franchise record for wins.</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/7.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">Commonwealth Games: Scotland to face England in beach volleyball quarter-finals</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">Commonwealth Games: Scotland to face England in beach volleyball quarter-finals</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/8.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">UBC Okanagan’s women’s volleyball team out of nationals</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">“We battled back from way behind in the third and fourth but made errors. We didn’t really make [Ryerson] earn those points. And in the fifth set, they earned the points they needed,” Heat coach Steve Manuel said in a news release.</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/3.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">Australian Open 2018: Laura Robson... and Coco Vandeweghe lose in first round</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">Laura Robson and Coco Vandeweghe were knocked out of the Australian Open... women's doubles in the first round by Hao-Ching Chan and Katarina Srebotnik.</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/4.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">NBA playoffs 2018: Bracket picks, predictions for Eastern Conference first round</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">The Raptors are a team looking to exorcise their postseason demons, and it was with that goal in mind that the team overhauled its offense and bench in the offseason, hoping that a ball-sharing system would lend itself to more playoff success. It worked, big-time, in the regular season, as Toronto set a franchise record for wins.</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
				<div class="[ banner ]">
					<img src="./img/banner/small/5.png" class="[ banner-img ]" alt="">
					<div class="[ banner-shadow bottom ]">
						<a class="font mb [ banner-title ]">Commonwealth Games: Scotland to face England in beach volleyball quarter-finals</a>
						<div class="flex-container align-bottom">
							<p class="font mr [ banner-text ]">Commonwealth Games: Scotland to face England in beach volleyball quarter-finals</p>
							<button class="button primary square fa fa-angle-right"></button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="content right">
			{% include "side/right.html" %}
		</div>
	</div>
</div>
{% include "parts/footer.html" %}
</div>
{% include "parts/sign-up.html" %}
{% include "parts/script.html" %}
</body>
</html>