{% include "parts/head.html" %}
<body>
<div class="blur none">
<!-- Header -->
{% include "parts/header.html" %}
<!-- End Header -->

<!-- Aside -->
{% include "parts/aside.html" %}
<!-- End Aside -->
<div class="main">
	<!-- Slider -->
	{% include "parts/slider.html" %}
	<!-- End Slider -->
		
	<div class="container">
		<div class="flex-container align-justify [ play-big ]">
			<div class="block">
				<p class="font m-white ellipsis">Spanin Primera Liga</p>
				<p class="font white title ellipsis">Real Sociedad v Espanyol</p>
			</div>
			<div class="block">
				<p class="font m-white ellipsis text-right">45:00</p>
				<p class="font white title ellipsis text-right">1-0</p>
			</div>
		</div>

		<div class="table [ coeficient-table ]">
			<div class="row">
				<div class="cell w33">
					<button class="button coefficient">
						<span class="font m-white">1</span>
						<span class="font">9.50</span>
					</button>
				</div>
				<div class="cell w33">
					<button class="button coefficient">
						<span class="font m-white">x</span>
						<span class="font">6.00</span>
					</button>
				</div>
				<div class="cell w33">
					<button class="button coefficient">
						<span class="font m-white">2</span>
						<span class="font">2.75</span>
					</button>
				</div>
			</div>
		</div>

		<div class="[ live ]">
			<div class="[ live-title ] flex-container align-center-middle">
				<p class="font [ live-title-text ]"><span>LIVE IN - PLAY</span></p>
				<button class="button [ live-title-button ]">
					<span class="font mr">104 EVENTS</span>
					<span class="fa fa-angle-right"></span>
				</button>
			</div>
		</div>

		<!-- Play-table -->
		{% include "parts/play-table.html" %}
		<!-- End Play-table -->
		
		<div class="[ betslip-small ] scroll">
			<div class="flex-container align-middle align-justify [ betslip-small-info ]">
				<div class="block ellipsis">
					<p class="font md nowrap ellipsis">Real Sociedad 3/1</p>
					<p class="font sm nowrap ellipsis">Fulltime Result</p>
					<p class="font sm nowrap ellipsis">Real Sociedad v Espanyol</p>
				</div>
				<button class="button primary close [ betslip-small-close ]"></button>
			</div>
			<div class="flex-container align-middle">
				<div class="[ betslip-small-rate ]">
					<p class="font">Columns</p>
					<p class="font xmd">0.00 <span class="font">Eur</span></p>
				</div>
				<div class="[ betslip-small-placebet ]">
					<p class="font xmd">Place Bet</p>
					<p class="font primary">To return 15</p>
				</div>
			</div>
			<div class="[ keyboard betslip-small-keyboard active ]">
				<div class="[ keyboard-wrapper right ] flex-container flex-dir-row align-middle">
					<button class="button [ keyboard-button ] w33">1</button>
					<button class="button [ keyboard-button ] w33">2</button>
					<button class="button [ keyboard-button ] w33">3</button>
					<button class="button [ keyboard-button ] w33">4</button>
					<button class="button [ keyboard-button ] w33">5</button>
					<button class="button [ keyboard-button ] w33">6</button>
					<button class="button [ keyboard-button ] w33">7</button>
					<button class="button [ keyboard-button ] w33">8</button>
					<button class="button [ keyboard-button ] w33">9</button>
					<button class="button [ keyboard-button ] w33">.</button>
					<button class="button [ keyboard-button ] w33">0</button>
					<button class="button [ keyboard-button reset ] w33"></button>
				</div>
			</div>
			<div class="flex-container align-middle">
				<button class="button [ betslip-small-button-add ]">Add to bet slip</button>
				<button class="button [ betslip-small-button-done ]">Done</button>
			</div>
			<div class="[ betslip-small-footer ] flex-container align-middle align-justify">
				<p class="font">Remember Stake</p>
				<span class="toggle-bg off">
					<input type="radio" name="1" value="off" id="1" title="Выключить">
					<input type="radio" name="1" value="on" id="1" title="Включить">
					<span class="switch"></span>
				</span>
			</div>
		</div>
	</div>
</div>
</div>
{% include "parts/script.html" %}
</body>
</html>