<div class="[ play active ]">
	{% for i in range(4, 12) %}
		{% if i == 4 %}
			<div class="[ play-category closed ]">
				<p class="[ play-category-text ] font">Football</p>
				<p class="[ play-category-icon ] sports-4"></p>
			</div>
			<div class="[ play-subcategory closed ]">
				<img src="./img/icon_country/Ukraine.ico" class="[ play-subcategory-icon ]">
				<p class="[ play-subcategory-text ] font">Ukraine</p>	
			</div>
			<div class="[ play-link ]">
				<div class="[ play-link-block ]">
					<p class="font m-white ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugiat porro consectetur ratione repellendus quae assumenda ducimus totam ipsam earum quas quos ex consequatur provident, repellat voluptatibus eum? Aspernatur, esse.</p>
					<p class="font m-white ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugiat porro consectetur ratione repellendus quae assumenda ducimus totam ipsam earum quas quos ex consequatur provident, repellat voluptatibus eum? Aspernatur, esse.</p>
				</div>
				<div class="sport-icon play"></div>
				<div class="[ play-link-block ] text-right">
					<p class="font m-white">1 - {{ i }}</p>
					<p class="font m-white">87:03</p>
				</div>
			</div>
		{% else %}
			<div class="[ play-category closed ]">
				<p class="[ play-category-text ] font">Basketball</p>
				<p class="[ play-category-icon ] sports-{{ i }}"></p>
			</div>
		{% endif %}		
	{%- endfor %}
</div>